.app-bar {
  background-color: hsla(0, 0%, 18%, 0.685);
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  width: fit-content;
  padding: 0 2em;
  height: 10%;
  margin-bottom: 5px;
  border-radius: 10px;
  user-select: none;
}

.app-divider {
  background-color: hsla(0, 0%, 95%, 0.61);
  height: 70%;
  width: 2px;
}
