.experience-list {
  margin: 10px 0;
}

.experience-item {
  /* background-color: hsl(0, 0%, 95%); */
  border-color: hsla(0, 0%, 95%, 0);
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  margin: 4px;
  padding: 5px;
  color: hsl(0, 0%, 95%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  transition: 200ms;
}

.experience-item:hover {
  border-color: hsl(0, 0%, 95%);
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  /* transform: scale(1.02); */
}

.experience-title {
  font-size: 1.5rem;
}

.icons {
  /* justify-self: flex-end; */
  display: flex;
  gap: 0.5rem;
}

.icon {
  color: hsl(0, 0%, 95%);
  height: 2rem;
  width: 2rem;
}

.icon:hover {
  color: rgb(255, 255, 255);
}
