/* detects mobile screens */
@media (pointer: none), (pointer: coarse) {
  #icon-grid {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, minmax(5em, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(5em, 1fr));
    height: 100%;
    width: 100%;
    z-index: 8;
    padding: 5px;
    gap: 2px;
  }
}
