.draggable-window {
  z-index: 25;
  position: relative;
  align-self: center;
  justify-self: center;
}

.main-window {
  background: hsl(0, 0%, 40%);
  border: 2px solid hsl(0, 0%, 95%);
  cursor: url("../../images/cursor32.png"), auto;
  box-shadow: 5px 5px 10px hsla(0, 0%, 0%, 0.562);
  position: relative;
  /* overflow: scroll; */
  /* height: 15em;
  width: 70em; */
}

.window-content {
  max-height: 40vh;
  max-width: 60vw;
  overflow: scroll;
}

.top-bar {
  background-color: hsl(0, 0%, 18%);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 4px;
  padding: 5px;
}

.window-title {
  margin: auto;
}

.window-content {
  /* background-color: ; */
  padding: 0 2em;
}

.text {
  /* color: hsl(0, 0%, 95%); */
}

.red-circle,
.green-circle,
.yellow-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  transition: 150ms;
}

.red-square {
  background-color: rgb(255, 121, 121);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 20px;
  width: 20px;
  transition: 150ms;
}

.red-square:hover:before {
  content: "X";
  height: 20px;
  width: 20px;
  background-color: rgb(173, 43, 43);
  color: rgb(100, 24, 24);
}

.red-square:active {
  transform-origin: center;
  transform: scale(0.95);
}

.red-circle:hover,
.green-circle:hover,
.yellow-circle:hover {
  /* transform: scale(1.1); */
}

.red-circle:hover {
  /* content: "X"; */
  background-color: rgb(173, 43, 43);
}

.yellow-circle:hover {
  /* content: "_"; */
  background-color: rgb(165, 165, 50);
}

.green-circle:hover {
  /* content: "_"; */
  background-color: rgb(71, 134, 71);
}

.red-circle:active,
.green-circle:active,
.yellow-circle:active {
  transform-origin: center;
  transform: scale(0.95);
}

.red-circle {
  background-color: rgb(255, 121, 121);
}

.green-circle {
  background-color: rgb(117, 212, 117);
}

.yellow-circle {
  background-color: rgb(255, 255, 123);
}

.invisible-circle {
  border-radius: 50%;
  height: 20px;
  width: 20px;
}
